body {
  padding: 0;
  margin: 0;
  background: silver;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.eyes {
  /* border: 1px solid red; */
  display: flex;
  cursor: move;
  position: absolute;
}

.eye {
  position: relative;
  /* display: none; */
}
#eyeL,
#eyeR {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid gray;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background: white;
  overflow: hidden;
  position: relative;
  margin: 10px;
}

#ballL,
#ballR {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: black;
  position: absolute;
  display: flex;
}

.in-ball {
  width: 8px;
  height: 8px;
  position: absolute;
  top: 10px;
  left: 30px;
  background: white;
  border-radius: 50%;
}
.eyebrow {
  width: 125px;
  top: -30px;
  left: -15px;
  border: 20px solid;
  position: absolute;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%;
  height: 100px;
}

.fadeIn {
  position: fixed;
  width: 3px;
  height: 3px;
  background: black;

  border-radius: 50%;
}

.fadeOut {
  background: gray;
  width: 1px;
  height: 1px;
}

#flies {
  position: fixed;
  z-index: 1000;
  top: 100px;
  left: 100px;
}

#flies #the-body {
  position: absolute;
  height: 20px;
  width: 30px;
  border-radius: 10px;
  background: black;
  transform: rotate(20deg);
  z-index: 1;
}

#flies #wing-top {
  height: 18px;
  width: 12px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  position: absolute;
  top: -14px;
  left: 14px;
  transform: rotate(18deg);
  border: none;
  border-radius: 100%;
}

#flies #wing-bottom {
  height: 18px;
  width: 12px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  position: absolute;
  top: 22px;
  left: 0px;
  transform: rotate(22deg);
  border: none;
  border-radius: 100%;
}

#flies #antler-top,
#antler-bottom {
  display: flex;
  width: 15px;
  height: 2px;
  position: relative;
  background: black;
}
#antler-top {
  transform: rotate(45deg);
  left: -9px;
  top: -1px;
}
#antler-bottom {
  transform: rotate(15deg);
  left: -13px;
  top: 6px;
}

.wing {
  background: white;
}
